@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins&display=swap');

body {
    background-image: url(../assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    color: white;
    font-family: 'Inter', sans-serif;
}

header img {
    display: block;
    margin: 20px 0 20px 20px;

}

main {
    margin-top: 5%;
    text-align: center;
}

h2 {
    font-size: 45px;
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
    line-height: 1.2;
    margin: 20px 0;
}

.results {
    padding: 20px 10%;
    line-height: 1.5;
    font-size: 18px;
}

#containerStar {
    width: 100%;
    display: inline-block;
}

.imgStar {
    background-image: url(../assets/star.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 5px;
}

.imgStar.active {
    background-image: url(../assets/star1.svg);
}

form input {
    padding: 1em;
    width: 45%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #D20094;
    color: white;
    margin: 20px 0;
}

form input::placeholder {
    color: white;
    opacity: 0.7;
}

button {
    display: inline-block;
    background-color: #00FFFF;
    color: black;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding: 1em 3em;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.7);
}

button:hover {
    box-shadow: 0px 0px 27px 6px rgba(0, 255, 255, 0.9);
}

footer {
    text-align: center;
    margin-top: 30px;
}

footer span {
    font-weight: 500;
}